@import "tailwindcss";

@theme {
  --color-primary: #3F65A5;
  /* Light Blue */
  --color-primary-dark: #2A436E;
  --color-secondary: #0A2752;
  /* Dark Blue */
  --color-secondary-dark: #071B39;
  --color-accent: #1D7B72;
  /* Dark Teal Green Accent */
  --color-brand-gold: #FCE6A3;
  --color-core-black: #000000;
  --color-brand-silver: #A5A5A5;
  --color-text-gray: #686868;
  --color-mid-gray: #9EA1A2;
  --color-dark-neutral: #7C7E7F;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f8fafc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #1e293b;
  background-color: #f8fafc;
  overflow-x: hidden;
}

#root {
  width: 100%;
}